.informasi-container {
    display: flex;
    justify-content: space-between;
  }
  
  .informasi-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
.mt-auto {
    margin-top: auto;
}
